header{
	height: 250px;
	background-color: orange;
	text-align: center;
}
nav,aside{
	width: 20%;
	background-color:black;
	float: left;
}
main{
	width: 60%;
	background-color: red;
	float: left;
}
footer{
	height: 100%;
	background-color: red;
	clear: both ;
}
h2{
	text-align: center;
	color: orange;	

}
body{
	background-color: black;
}	


footer  p{
text-align: center;
font-weight: bold;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 24px;
  margin-left: 20px;
  width: 85%;
  margin-bottom: 10px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#youtube iframe{
	margin:auto ;
	display: block;
}
.bgvideo{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgvideo video{
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
z-index: 1;
}
h1{
	z-index: 2;
	color: white;
}
@media only screen and (max-width: 800px){
	nav,main,aside{
		width: 100%;
	}
p1 #aboutme{
	font-size: 24px;
	margin: 10px;
	padding: 10px;
	text-align: justify;
}